Main{
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
  }
  .accommodation-section{
    background: #F2F2F2;
    width: 65%;
    height: 650px;
    border-radius: 20px;
    margin-right: 30px;
  }
  .accommodation-section h2{
    margin: 40px 0 40px 20px;
  }
  .bloc1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
 
  .accommodation-section img{
    object-fit: cover;
    width: 100%;
    height: 120px;
    border-radius: 20px 25px 0 0;
    padding-right: 10px;
    margin: 5px 0 0 5px;
  }
  
  .accommodation-section .border-picture{
    width: 220px;
    height: auto;
    background: white;
    margin-bottom: 40px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.062);
    transition: 0.8s;
    padding-bottom: 10px;
  }
  
  .accommodation-section .border-picture:hover{
    transform: scale(1.07);
  }
  
  .text-picture{
    margin-left: 15px;
    line-height: 25px;
  }
  
  .accommodation-section .star{
    font-size: 90%;
  }
  .bloc2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .accommodation-section .colorblue{
    color: #0065fc;
  }
  .accommodation-section .colorgrey{
    color: #d6d1d1;
  }
  
  .accommodation-section span{
    margin-left: 40px;
    font-weight: 600;
    cursor: pointer;
    font-size:200%;
  }
  
  /****** popular *******/
  .popular-section{
    background: #F2F2F2;
    width: 30%;
    height: 650px;
    border-radius: 20px;
  }
  
  .popular-section .title-graph{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
  }
  
  .fa-chart-line{
    font-size: 25px;
  }
  
  .popular-section .border-popular{
    border: 2px solid white;
    border-radius: 20px;
    background-color: white;
    height: 145px;
    width: 290px;
    margin-bottom: 30px;
    display: flex;
    margin-left: 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.062);
    transition: 0.8s;
  }
  .popular-section .border-popular:hover{
    transform: scale(1.07);
  }
  
  .popular-section img{
    object-fit: cover;
    height: 140px;
    width: 110px;
    border-radius: 20px 0 0 20px;
    padding: 3%;
  }
  .popular-section .text-picture{
    margin-top: 10px;
  }
  
  .popular-section .star{
    margin-top: 25px;
  }
  .popular-section .colorblue{
    color: #0065fc;
    font-size: 80%;
  }
  .popular-section .colorgrey{
    color: #d6d1d1;
    font-size: 80%;
  }