  .search-bar{
    margin-left: 40px;
  }
  
  .search-bar .map {
    display: flex;
  }
  
  .search-bar .fa-map-marker-alt {
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 112%
  }
  
  .search-bar input {
    height: 50px;
    width: 230px;
    border: #f2f2f2 1px solid;
    font-weight: 600;
    font-size: 119%;
  }
  
  .search-bar input::placeholder{
    color: black;
    padding-left: 20px; 
  }
  
  .search-bar .search {
    border-radius: 0 10px 10px 0;
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    background-color: #0065fc;
    cursor: pointer;
  }
  
  .fa-search{
    color: transparent;
  }
  
  h1{
      margin-top: 30px;
      margin-bottom: 20px;
  }
  
  .search-bar p{
    margin-bottom: 20px; 
    color: rgb(78, 77, 77);
  }
  01
   